{% extends 'base.html' %}
{% block content %}

<div class="container col-4">
    <div class="card mt-4">
        <div card="card-header">
            <h1>Login de Users</h1>
        </div>
        <div class="card-body m-auto">
            <form action="{{url_for('login')}}" method="POST">
                <label>E-mail</label>
                <input type="email" name="email" placeholder="Insira seu E-mail" required class="form-control">
                <label>Senha</label>
                <input type="password" name="senha" placeholder="Insira seu E-mail" required class="form-control">
                <br>
                <button type="submit" class="btn btn-danger btn-block">Login</button>
            </form>
            <hr>
            <h6>Não possui conta, vá se <a href="{{urlfor('cadastro')}}">cadrastar</a></h6>
        </div>
    </div>
</div>

{% endblock content %}